<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de Nfts</title>
</head>
<body>
    <h1>Lista de NTFs</h1>
    
    <table>
    <tr>
        <td>
            <img src="Template/imagens/irene.jpg" alt="Irene" width="45%" height="50%"
            style="padding-top: 20px; padding-left: 10px; padding-right: 10px; padding-bottom: 5px;">
            <h2>foto de irene</h2>
            <p>irene</p>
            <span>Preço: R$ 99,00</span>
        </td>

        <td>
            <img src="Template/imagens/emmanuel.jpg" alt="Emmanuel" width="112%" height="50%" 
            style="padding-top: 20px; padding-left: 10px; padding-right: 10px; padding-bottom: 5px;">
            <h2>foto de comida</h2>
            <p>Emmanuel</p>
            <span>Preço: R$ 99,00</span>
        </td>

        <td>
            <img src="Template/imagens/irene.jpg" alt="Irene" width="45%" height="50%"
            style="padding-top: 20px; padding-left: 10px; padding-right: 10px; padding-bottom: 5px;">
            <h2>foto de irene</h2>
            <p>irene</p>
            <span>Preço: R$ 99,00</span>
        </td>
    </tr>
    </table>

    <style>
        td {
            margin: 80px;
        }
    </style>
    
    
</body>
</html>

